html{
    background-color: #222;
}

@font-face {
    font-family: 'iconfont';
    src: url("../fonts/iconfont.ttf");
}

body{
    min-height: 100vh;
    padding-bottom: 10vh;
    /* height: 900vh; */
    /* background: linear-gradient(180deg, #3A8188, #DB0AA7); */
}

.header{
    background: var(--color-header);
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 5%;
    padding-left: 2%;
    position: fixed;
    z-index: 999;
}
/* .titile{
    background-color: #ff0000;
    width: 240px;
    height: 88px;
} */
/* .titile a{
    display: block;
    height: 88px;
    width: 240px;
    background-image: url("../images/ce1986bfa0cd2c8c8a5f0391a066f5f9.png");
    background-size: contain;
    background-repeat: no-repeat;
} */
.titile img{
    display: block;
    height: 80px;
    /* max-width: 40vw; */
}
.links{
    width: 50vw;
    display: var(--if-links);
    flex-direction: row;
    align-items: center;
}
.links li{
    /* width: 25%; */
    flex: 1;
}
.links a{
    display: block;
    width: max-content;
}
.button{
    width: max-content;
    font-size: 1.5vw;
    letter-spacing: 2px;
    color: #fff;
    padding: 2px 5px;
    transition-property: color;
    transition-duration: 700ms;
    
    /* font-weight: lighter; */
}
.button:hover{
    color: var(--color-button-hover);
}
.active{
    color: var(--color-button-hover);
}
#lang{
    display: block;
    width: 70px;
    font-size: 18px;
    color: #fff;
    font-weight: lighter;
    visibility: hidden;
}
/* .lang:hover{
    background-color: rgba(255, 255, 255, .5);
} */
.list{
    display: var(--if-list);
    height: 60px;
    width: 60px;
    border-radius: 20%;
    flex-shrink: 0;
    color: #fff;
    margin-top: 10px;
    font-family: 'iconfont';
    font-size: 40px;
    font-weight: 800;
    /* background-color: red; */
}
.openlist{
    background-color: rgba(99, 99, 99, .5);
}
.listobj{
    display: block !important ;
    height: calc(100vh - 130px);
    max-height: 400px;
    width: 90vw;
    background-color: #333;
    top: 125px;
    left: 5vw;
    border-radius: 8px;
}
.listobj li{
    display: block;
    height: 25%;
    width: 100%;
}
.buttonn{
    color: #fff;
    font-size: 20px;
    letter-spacing: 8px;
}
.listobj a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: all 100ms;
}
.listobj a:hover{
    background-color: rgba(99, 99, 99, .5);
}
#listobj{
    position: absolute;
    display: none;
    transition: all 500ms;
}
