html{
    background-color: #222;
}

body{
    min-height: 100vh;
    /* height: 900vh; */
    /* background: linear-gradient(180deg, #3A8188, #DB0AA7); */
}

.header{
    background: var(--color-header);
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 5%;
    padding-left: 2%;
    position: fixed;
    z-index: 999;
}
/* .titile{
    background-color: #ff0000;
    width: 240px;
    height: 88px;
} */
/* .titile a{
    display: block;
    height: 88px;
    width: 240px;
    background-image: url("../images/ce1986bfa0cd2c8c8a5f0391a066f5f9.png");
    background-size: contain;
    background-repeat: no-repeat;
} */
.titile img{
    display: block;
    height: 80px;
}
.links{
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.links li{
    /* width: 25%; */
    flex: 1;
}
.links a{
    display: block;
    width: max-content;
}
.button{
    width: max-content;
    font-size: 1.5vw;
    letter-spacing: 2px;
    color: #fff;
    padding: 2px 5px;
    transition-property: color;
    transition-duration: 700ms;
    
    /* font-weight: lighter; */
}
.button:hover{
    color: var(--color-button-hover);
}
.active{
    color: var(--color-button-hover);
}
.lang{
    display: block;
    width: 70px;
    font-size: 18px;
    color: #fff;
    font-weight: lighter;
    visibility: hidden;
}
/* .lang:hover{
    background-color: rgba(255, 255, 255, .5);
} */
.list{
    display: var(--if-list);
}