@import url("./animation.css");

@font-face {
    font-family: yahei;
    src: url("../fonts/ms.ttf");
}

@font-face {
    font-family: iconfont;
    src: url("../fonts/iconfont.ttf");
}

*{
    font-family: 'yahei';
} 
/* 以上方法由于加载顺序导致加载延时 */

body{
    background-color: #fff;
    min-width: 720px;
}

.header{
    background-color: #fff;
    width: 100%;
    min-width: 720px;
    height: 80px;
    margin: 0px;
    padding: 5px 2vw;
    overflow: hidden;
    position: fixed;
    display: flex;
    /* box-shadow: #888 0 0 10px; */
    align-items: center;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    z-index: 100;
    top: 0;
}
.header>.logo{
    background-image: url("../images/titile.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 534px;
    max-width: 70vw;
    margin: 10px 0;
    height: 60px;
    flex-shrink: 0;
}

.header ul{
    /* width: 60%; */
    height: 80%;
    display: flex;
    position: relative;
    top: 10px;
    flex-direction: row;
    justify-content: left;
    align-items: center;

}
.header li{
    border-right: #ccc 1px solid;
    width: 110px;
    height: 60%;
    /* flex-shrink: 0; */
    padding: 0 10px;
}
.header li:last-child{
    border-right: 0;
}
.header a{
    color: #888;
    display: block;
    overflow: hidden;
    text-align: center;
    font-size: 18px;
    height: 100%;
    line-height: 150%;
}

.b1,.b2,.b3,.b4{
    display: block;
    height: 200%;
    width: 100%;
    position: relative;
    top: 0px ;
}
a>.b1:hover{
    animation: jump .8s 1;
}
a>.b2:hover{
    animation: jump .8s 1;
}
a>.b3:hover{
    animation: jump .8s 1;
}
a>.b4:hover{
    animation: jump .8s 1;
}

.p{
    position: relative;
    top: -90px;
}

.main{
    background-color: #e3e3e3;
    width: 100%;
    min-height: 1000px;
    /* margin: 130px 0 0 0; */
    overflow: hidden;
    padding-top: 100px;
}
.main>h2{
    margin: 15px 13% ;
}

.neck{
    background-color: #fff;
    width: 90%;
    height: 300px;
    border-radius: 7px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.box1{
    width: 80%;
    border-radius: 7px;
    background-color: #fff;
    margin: 0 auto;
    padding: 2.5%;
    font-size: 20px;
    color: #444;
    line-height: 40px;
    margin-bottom: 50px;
}
.box1>p{
    margin-bottom: 10px;
}

.box2{
    width: 85%;
    border-radius: 7px;
    height: 500px;
    background-color: green;
    margin: 0 auto;
    margin-bottom: 50px;
}

.box3{
    width: 80%;
    height: 150px;
    padding: 10px 2.5%;
    border-radius: 7px;
    background-color: #fff;
    margin: 0 auto;
}
.box3>.word{
    margin-top: 20px;
    float: left;
    width: calc(100% - 150px);
    color: #444;
    font-size: 20px;
    line-height: 40px;
}
.box3>.img{
    float: left;
    width: 150px;
    height: 150px;
    /* background-image: url("../images/shq_qr.jpg"); */
    background-color: aqua;
    background-repeat: no-repeat;
    background-size: 150px 150px;
}

.box4{
    width: 85%;
    border-radius: 7px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 1% 20px;
    margin: 5px auto;
    margin-bottom: 100px;
}
.box4 ul{
    width: 98%;
}
.box4 li{
    display: flex;
    height: 100px;
    width: 100%;
    padding: 10px;
    border-bottom: #ccc dotted 3px;
    flex-direction: row;
}
.box4 li:last-child{
    border-bottom: 0;
}
.box4 .icons{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #777;
    border-radius: 5px;
    width: 120px;
    background-color: #e3e3e3;
}
.icons span{
    font-family: 'iconfont';
}
.box4 .word{
    /* width: 160px; */
    flex: 1;
    margin: 0 20px;
}